<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Terms and Conditions</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.php">Home</a></li>
                <li><span>/</span></li>
                <li>Terms and Conditions</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->


<!--Privacy Policy Start-->
<div class="privacy">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<h4>Registration</h4>
<p>ERCS Private Limited is among the top compliance service provider in India. This document covers the terms and conditions under which these services are provided. Your use of any of the features and services on ERCS Private Limited as a visitor constitutes automatic acceptance of these terms and conditions. While using the web site and engaged in any form of communication on any of the forums, you agree not to:</p>
<ol>
<li>Post, publish or transmit any messages that is false, misleading, defamatory, harmful, threatening, abusive, harassing, defamatory, invades another’s privacy, offensive, promotes racism, hatred or harm against any individual or group or religion or caste, infringes another’s rights including any intellectual property rights or copyright or trademark, violates or encourages any conduct that would violate any applicable law or regulation or would give rise to civil liability.</li>
<li>Send unsolicited email, junk mail, spam, or chain letters, or promotions or advertisements for products or services.</li>
<li>Access or search the Sites Content or Services with any engine, software or tool.</li>
<li>Send unsolicited email, junk mail, spam, or chain letters, or promotions or advertisements for products or services.</li>
<li>Reformat or frame any portion of the web pages that are part of ERCS Private Limited without a written agreement.</li>
</ol>
<p>ERCS Private Limited reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Services with or without notice.</p>
<h4>Ownership</h4>
<p>Except for the Content submitted by users, ERCS Private Limited Service and all aspects thereof, including all copyrights, trademarks, and other intellectual property or proprietary rights therein, is owned by ERCS Private Limited.</p>

        </div>
    </div>
</div>
</div>
<!-- Privacy Policy End -->
