 <!--Page Header Start-->
 <section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Feedback</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.php">Feedback</a></li>
                <li><span>/</span></li>
                <li>Feedback</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->


<!--Feedback Form Start-->
<div class="services-one" style="background:#fff!important;">
<div class="container-fluid">
    <div class="services-one-shape-1 float-bob-x"
        style="background-image: url(../../../assets/images/shapes/services-one-shape-1.png);"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 me-5">
            <div class="section-title text-left">
            <span class="section-title__tagline">Leave Your Feedback</span>
            <h3>Your feedback is important for us to improve and enhance our services in future.</h3>
            </div>
        <img class="img-fluid" src="../../../assets/images/feedback.jpg" alt="">
        </div>
        <div class="col-lg-5">

            <div class="feedback" style="background: #00a09c">
                <form>
                    <div class="row g-3">
                        <div class="col-xl-12">
                            <input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 50px;">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 50px;">
                        </div>
                        <div class="col-12">
                            <select class="form-select bg-light border-0 mb-0" style="height: 50px;">
                                <option selected="">Select A Service</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <select class="form-select bg-light border-0 mb-0" style="height: 50px;">
                                <option selected="">Select A Experience</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control bg-light border-0" rows="3" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-dark w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Feedback Form End -->
