<!--Main Slider Start-->
<section class="main-slider-three clearfix">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="image-layer-three"
                    style="background-image: url(../assets/images/backgrounds/main-slider-3-1.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-slider-three__content">
                                <p class="main-slider-three__sub-title">Ultimate Crowdfunding Platform</p>
                                <h2 class="main-slider-three__title">Change the way <br>
                                    art is valued</h2>
                                <p class="main-slider-three__text">Qrowd is where early adopters and innovation
                                    seekers find lively, <br>
                                    imaginative tech before it hits the mainstream.</p>
                                <div class="main-slider-three__btn-box">
                                    <a href="/contact" class="thm-btn main-slider__btn">Enquiry Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="image-layer-three"
                    style="background-image: url(../assets/images/backgrounds/main-slider-3-2.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-slider-three__content">
                                <p class="main-slider-three__sub-title">Ultimate Crowdfunding Platform</p>
                                <h2 class="main-slider-three__title">Change the way <br>
                                    art is valued</h2>
                                <p class="main-slider-three__text">Qrowd is where early adopters and innovation
                                    seekers find lively, <br>
                                    imaginative tech before it hits the mainstream.</p>
                                <div class="main-slider-three__btn-box">
                                    <a href="contact" class="thm-btn main-slider__btn">Enquiry Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="swiper-slide">
                <div class="image-layer-three"
                    style="background-image: url(../../../assets/images/backgrounds/main-slider-3-3.jpg);"></div>
                <div class="main-slider-three-shape"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-slider-three__content">
                                <p class="main-slider-three__sub-title">Ultimate Crowdfunding Platform</p>
                                <h2 class="main-slider-three__title">Change the way <br>
                                    art is valued</h2>
                                <p class="main-slider-three__text">Qrowd is where early adopters and innovation
                                    seekers find lively, <br>
                                    imaginative tech before it hits the mainstream.</p>
                                <div class="main-slider-three__btn-box">
                                    <a href="contact.php" class="thm-btn main-slider__btn">Enquiry Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <i class="icon-right-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <i class="icon-right-arrow"></i>
            </div>
        </div>

    </div>
    </div>
</section>
<!--Main Slider End-->

<div class="container-fluid m-0"> 
<div class="row "> 
<div class="col-lg-3 col-md-3 col-sm-12 notification"> <i class="fa fa-bell"></i><span class="news-ticker-title"> Latest Notifications </span> 
</div> 
<div class="col-lg-9 col-md-9 col-sm-12 marquee-home">
    <a href="quality-control-orders">
<div class="marquee2">
<div class="marquee__item">
Quality Control Order and implementation date
</div>
</div>

    </a> 
</div> 
</div>
</div>




<!--About One Start-->
<section class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <div class="about-one__img-1">
                            <img src="../../../assets/images/resources/about-1-1.jpg" alt="">
                        </div>
                        <div class="about-one__img-2">
                            <img src="../../../assets/images/resources/about-1-2.jpg" alt="">
                        </div>
                        
                        <div class="about-one__experience">
                            <div class="about-one__experience-inner">
                                <h3>05</h3>
                                <p>Years of <br> Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [innerHTML]="content" class="col-xl-6"></div>
            <!-- <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Who we are</span>
                        <h2 class="section-title__title">Delivering Compliance Services</h2>
                    </div>
                    <div class="about-one__text">
                        {{homedata.about.shrt_desc}}
                    <div class="welcomw-one__bottom">
                        <a href="about" class="thm-btn">Learn More</a>
                    </div>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</section>
<!--About One End-->

<!--Services One Start-->
<section class="services-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">WHAT WE OFFER</span>
            <h2 class="section-title__title">Our Services</h2>
        </div>
        <div class="row">
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms" *ngFor="let service of homedata.services
            ">
         
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                        <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/{{service.image}}" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="/services/{{service.slug}}">{{service.title}}</a></h3>
                        <p class="services-one__text">{{service.desc}}</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
           
        </div>
    </div>
</section>
<!--Services One End-->

<!--Events Page Start-->
     <!--Gallery Page Start-->
<section class="portfolio section mt-5">
<div class="container">
<div class="section-title text-center mb-2">
    <h2 class="section-title__title">Audits</h2>
</div>
<div class="filters mt-0">
  <ul>
    <li class="active" data-filter="*">All</li>
    <li data-filter=".audits">Bis Audits</li>
    <li data-filter=".industry">Industry Notifications</li>
  </ul>
</div>
<div class="filters-content">
  <div class="row grid">
 
    <div *ngFor="let audit of homedata.audits" class="col-sm-4 all {{audit.audit_master.slug}}">
      <div class="item">
        
        <div class="gallery-page__single mb-3">
            <div class="gallery-page__img">
                <img src="{{audit.image}}" alt="">
                <div class="gallery-page__icon">
                    <a class="img-popup" href="{{audit.image}}"><span class="icon-plus-symbol"></span></a>
                </div>
            </div>
        </div>
        <div class="p-inner">
          <h5>{{audit.title}}</h5>
        </div>
      </div>

    </div>
    
    
  </div>
</div>
</div>
</section>

<!--Testimonial Two Start-->
<section class="testimonial-two">
    <div class="testimonial-two-bg"
        style="background-image: url(../../../assets/images/backgrounds/testimonial-two-bg.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-two__center">
                    <div class="section-title text-center">
                        <h2 class="section-title__title text-white">Our Clients Says</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-two__right">
                    <div class="testimonial-two__carousel owl-carousel owl-theme thm-owl__carousel"
                        data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 30,
                        "nav": true,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"icon-right-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 2
                            },
                            "992": {
                                "items": 2
                            },
                            "1200": {
                                "items": 3
                            }
                        }
                    }'>
                        <!--Testimonial Two Single Start-->
                        <div class="item" *ngFor="let testimonial of homedata.testimonials">
                            <div class="testimonial-two__single">
                                <div class="testimonial-two__client-info">
                                    <div class="testimonial-two__client-img">
                                        <img src="../../../assets/images/testimonial/{{testimonial.image}}"
                                            alt="">
                                    </div>
                                    <div class="testimonial-two__client-content">
                                        <h4 class="testimonial-two__client-name">{{testimonial.name}}</h4>
                                        <p class="testimonial-two__client-sub-title">{{testimonial.subtitle}}</p>
                                    </div>
                                </div>
                                <p class="testimonial-two__text-2">{{testimonial.comment}}</p>
                                <div class="testimonial-two__quote">
                                    <span class="icon-quotes"></span>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single End-->
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial Two End-->

<!--News Page Start-->
<section class="news-carousel-page mt-5">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Our Blogs</h2>
        </div> 
        <div class="news-carousel thm-owl__carousel owl-theme owl-carousel carousel-dot-style" data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
            "responsive":{
                "0":{
                    "items":1
                },
                "768":{
                    "items":2
                },
                "992":{
                    "items": 3
                }
            }
        }'>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-1.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Money markets rates finding the
                                best accounts</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-2.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Future where technology creates
                                good jobs</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-3.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">The life of entrepreneur &
                                business co founders</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-4.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Integer imperdiet lacus ut enim
                                porta founders</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-5.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">vestibulum nisi iaculis. Donec
                                id euismod</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-6.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Praesent varius elit nisl, in
                                maximus augue</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-1.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Money markets rates finding the
                                best accounts</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-2.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">Future where technology creates
                                good jobs</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
            <div class="item">
                <!--News One Single Start-->
                <div class="news-one__single">
                    <div class="news-one__img-box">
                        <div class="news-one__img">
                            <img src="../../../assets/images/blog/news-1-3.jpg" alt="">
                            <a href="news-details.php">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__date">
                            <p>28</p>
                            <span>july</span>
                        </div>
                    </div>
                    <div class="news-one__content">
                        <ul class="news-one__meta list-unstyled">
                            <li>
                                <a href="news-details.php"><i class="fas fa-user-circle"></i>by Admin</a>
                            </li>
                            <li>
                                <a href="news-details.php"><i class="fas fa-comments"></i>02 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title"><a href="news-details.php">The life of entrepreneur &
                                business co founders</a></h3>
                        <div class="news-one__bottom">
                            <div class="news-one__button">
                                <a href="news-details.php">Read more</a>
                            </div>
                            <div class="news-one__arrow">
                                <a href="news-details.php"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single Start-->
            </div>
        </div>
    </div>
</section>
<!--News Page End-->

<div class="black-bg background-repeat-no background-position-top-right"
    style="background-image: url(../../../assets/images/shapes/why-choose-funfact-bg-1-1.png);">

    <!--Counter One Start-->
    <section class="counter-one">
        <div class="container">
            <div class="row">
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="counter-one__single">
                        <div class="counter-one__single-inner">
                            <div class="counter-one__border-left"></div>
                            <div class="counter-one__border-right"></div>
                            <div class="counter-one__icon">
                               <img src="../../../assets/images/icon/customer.png" alt="">
                            </div>
                            <div class="counter-one__count-box">
                                <h3 class="odometer" data-count="100">00</h3>
                                <p class="counter-one__text">Happy Customers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="counter-one__single">
                        <div class="counter-one__single-inner">
                            <div class="counter-one__border-left"></div>
                            <div class="counter-one__border-right"></div>
                            <div class="counter-one__icon">
                               <img src="../../../assets/images/icon/projects.png" alt="">
                            </div>
                            <div class="counter-one__count-box">
                                <h3 class="odometer" data-count="600">00</h3>
                                <p class="counter-one__text">Projects Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="counter-one__single">
                        <div class="counter-one__single-inner">
                            <div class="counter-one__border-left"></div>
                            <div class="counter-one__border-right"></div>
                            <div class="counter-one__icon">
                               <img src="../../../assets/images/icon/location.png" alt="">
                            </div>
                            <div class="counter-one__count-box">
                                <h3 class="odometer" data-count="20">00</h3>
                                <span class="counter-one__letter">k</span>
                                <p class="counter-one__text">Locations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="counter-one__single">
                        <div class="counter-one__single-inner">
                            <div class="counter-one__border-left"></div>
                            <div class="counter-one__border-right"></div>
                            <div class="counter-one__icon">
                               <img src="../../../assets/images/icon/market.png" alt="">
                            </div>
                            <div class="counter-one__count-box">
                                <h3 class="odometer" data-count="6%">00</h3>
                                <span class="counter-one__letter">%</span>
                                <p class="counter-one__text">Market Share</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Counter One Single End-->
            </div>
        </div>
    </section>
    <!--Counter One End-->
</div><!-- /.black-bg -->

