<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Services</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="">Home</a></li>
                <li><span>/</span></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

  <!--Services One Start-->
<section class="services-one">
    <div class="services-one-shape-1 float-bob-x"
        style="background-image: url(../../../assets/images/shapes/services-one-shape-1.png);"></div>
    <div class="container">
        <div class="row">
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                        <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/isi-logo.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="#">ISI / BIS Certification (ISI Mark) – Scheme I</a></h3>
                        <p class="services-one__text">ISI Certification is the standard compliance mark for industrial products issued by Bureau of Indian Standards (BIS). We provide hassle-free ISI Certification Services to the product manufacturers.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                        <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/bis-logo.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="about.php">BIS Registration (CRS) – Scheme II</a></h3>
                        <p class="services-one__text">BIS Registration is mandatory for Electronic and IT products, LED Lights, Solar Photovoltaics, Switchgears, Chemicals, Cotton, etc. We assist you in getting quick BIS Registration Services for Indian Market.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                           <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/isi-certification-logo.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="about.php">BIS / ISI Certification for Foreign Manufacturers (FMCS)</a></h3>
                        <p class="services-one__text">Foreign Manufacturers Certification Scheme (FMCS) is a Scheme of BIS / ISI Certification of product for foreign manufacturers. We deliver smooth end-to-end BIS / ISI Certification Services (FMCS) for Foreign Manufacturers.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                           <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/wpc-icon.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="about.php">WPC Approval (ETA)</a></h3>
                        <p class="services-one__text">WPC Approval is a Safety Certification for Wireless products like headphone, speakers, smartwatch, smart TV, etc. being consumed in India. We bring you fast WPC approval (ETA) Services for better marketplace.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                           <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/bee-registration-icon.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="about.php">BEE Registration (Star Ratings)</a></h3>
                        <p class="services-one__text">BEE Registration (Star Ratings) is a power consumption rating of household electrical appliances like air conditioners, refrigerator, geysers, etc. Our BEE Registration Services help your product to get BEE certified.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                           <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/epr-registration-logo.png" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="about.php">EPR Registration for Plastic Waste</a></h3>
                        <p class="services-one__text">EPR Registration for Plastic Waste is mandatory for recycling plastic waste in India. Our distinctive EPR Registration Services will get you product EPR certified swiftly.</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
        </div>
    </div>
</section>
<!--Services One End-->