<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Services</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="">Home</a></li>
                <li><span>/</span></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Services One Start-->
<section class="services-one">
    <div class="services-one-shape-1 float-bob-x"
        style="background-image: url(../../../assets/images/shapes/services-one-shape-1.png);"></div>
    <div class="container">
        <div class="row">
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms" *ngFor="let s of services.data | paginate: { itemsPerPage: 9, currentPage: page, totalItems: total }">
                <div class="services-one__single">
                    <div class="services-one__single-inner">
                        <div class="services-one__single-bg"
                            style="background-image: url(../../../assets/images/backgrounds/services-one-single-bg.jpg);">
                        </div>
                        <div class="services-one__icon">
                            <span><img src="../../../assets/images/icon/{{s.img_icon}}" alt=""></span>
                        </div>
                        <h3 class="services-one__title"><a href="/services/{{s.slug}}">{{s.title}}</a>
                        </h3>
                        <p class="services-one__text">{{s.excerpt}}</p>
                    </div>
                </div>
            </div>
            <!--Services One Single End-->
            <nav> 
                <ul class="pagination float-right"> 
                    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--Services One End-->