 <!--Page Header Start-->
 <section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>{{product.title}}</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="">Home</a></li>
                <li><span>/</span></li>
                <li>{{product.title}}</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Quality One Start-->
<section class="product-main">
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="section-title text-left">
<h2 class="section-title__title">{{product.title}}</h2>
</div>

<div class="row">
<div class="col-xl-6 col-lg-6 wow slideInLeft animated" data-wow-duration="1500ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: slideInLeft;">
    <div class="tabs-content__inner-left">
        <div class="tabs-content__inner-img">
            <img src="../../../assets/images/products/product1.jpg" alt="">
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-6">
    <div class="description" [innerHTML]="excerpt">
        
        
   </div>
</div>
</div>

<div class="description mt-3" [innerHTML]="content">




</div>
</div>
</div>
</div>
</section>
<!--Quality One End-->
