 <!--Page Header Start-->
 <section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Refunds and Cancellation</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.php">Home</a></li>
                <li><span>/</span></li>
                <li>Refunds and Cancellation</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Privacy Policy Start-->
<div class="privacy">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <p>We have a very friendly cancellation and refund policy for all cancellation and refund request please reach out to us through our Contact Us page.</p>
          <p>You can cancel your service order anytime before the work on your device has started.</p>
          <p>All Cash/cheque payments will be refunded by either an at par cheque or by bank transfer. No Cash will be provided. All Credit Card / Debit Card or any other online transactions will be refunded by the same channel or by cheque or bank transfer. Please allow 3-10 days for refunds to reach you. The time depends on the channel and the beneficiary banks internal processing time.</p>
          <p>Once the service is considered delivered, the order cannot be cancelled. All refunds are processed after internal verification. ERCS Private Limited reserve the right to full and partial refunds based on the condition of the product or the service.</p>
          <p>The refund or cancellation may be denied if the service has been used/tried to a considerable level.</p>
        </div>
    </div>
</div>
</div>
<!-- Privacy Policy End -->
