<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Career</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.php">Home</a></li>
                <li><span>/</span></li>
                <li>Career</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->


<!--Career Start-->
<div class="career">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
<div class="single-job-list-item">
<span class="job_type"><i class="far fa-clock"></i> full time</span>
<a href="operations-executive.php">
<h3 class="title">Operations Engineer / Quality Engineer</h3>
</a>
<span class="company_name"><strong>Company:</strong> ERCS Private Limited</span>
<span class="deadline"><strong>Deadline:</strong> 20 Sep 2023</span>
<ul class="jobs-meta">
<li><i class="fas fa-briefcase"></i> Operations Engineer / Quality Engineer</li>
<li><i class="fas fa-wallet"></i> Negotiable</li>
<li><i class="fas fa-map-marker-alt"></i> Delhi</li>
</ul>
</div>
<div class="single-job-list-item">
<span class="job_type"><i class="far fa-clock"></i> full time</span>
<a href="operations-executive.php">
<h3 class="title">Operations Engineer / Quality Engineer</h3>
</a>
<span class="company_name"><strong>Company:</strong> ERCS Private Limited</span>
<span class="deadline"><strong>Deadline:</strong> 20 Sep 2023</span>
<ul class="jobs-meta">
<li><i class="fas fa-briefcase"></i> Operations Engineer / Quality Engineer</li>
<li><i class="fas fa-wallet"></i> Negotiable</li>
<li><i class="fas fa-map-marker-alt"></i> Delhi</li>
</ul>
</div>
<div class="single-job-list-item">
<span class="job_type"><i class="far fa-clock"></i> full time</span>
<a href="operations-executive.php">
<h3 class="title">Operations Engineer / Quality Engineer</h3>
</a>
<span class="company_name"><strong>Company:</strong> ERCS Private Limited</span>
<span class="deadline"><strong>Deadline:</strong> 20 Sep 2023</span>
<ul class="jobs-meta">
<li><i class="fas fa-briefcase"></i> Operations Engineer / Quality Engineer</li>
<li><i class="fas fa-wallet"></i> Negotiable</li>
<li><i class="fas fa-map-marker-alt"></i> Delhi</li>
</ul>
</div>





            
        </div>
        <div class="col-lg-4">



<div class="sidebar">
<div class="sidebar__single sidebar__category">
<h3 class="sidebar__title">Job Categories</h3>
<ul class="sidebar__category-list list-unstyled">
<li class="active"> <a href="engineer.php">Engineer</a> </li>
<li> <a href="engineer.php">Executive</a> </li>
</ul>

</div>

</div>  
        </div>



    </div>
</div>
</div>
<!-- Feedback Form End -->
