 <!--Page Header Start-->
 <section class="page-header">
    <div class="page-header-bg" style="background-image: url(../../../assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="../../../assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="../../../assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Testimonials</h2>
        </div>
    </div>
</section>
<section class="breadcrumb-bottom">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.php">Home</a></li>
                <li><span>/</span></li>
                <li>Testimonials</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Testimonials Page Start-->
<section class="testimonials-page">
    <div class="container">
        <div class="row">
            <!--Testimonial Two Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-two__single">
                    <div class="testimonial-two__client-info">
                        <div class="testimonial-two__client-img">
                            <img src="../../../assets/images/testimonial/testimonials-page-1-1.jpg" alt="">
                        </div>
                        <div class="testimonial-two__client-content">
                            <h4 class="testimonial-two__client-name">Amit Yadav</h4>
                            <p class="testimonial-two__client-sub-title">Clients</p>
                        </div>
                    </div>
                    <p class="testimonial-two__text-2">"We are taking BIS Certification Services from ERCS for several years and they have always provided us with exceptional support. Their team of experts is knowledgeable, experienced, and always available to answer our questions."</p>
                    <div class="testimonial-two__quote">
                        <span class="icon-quotes"></span>
                    </div>
                    <div class="testimonial-two__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-two__single">
                    <div class="testimonial-two__client-info">
                        <div class="testimonial-two__client-img">
                            <img src="../../../assets/images/testimonial/testimonials-page-1-2.jpg" alt="">
                        </div>
                        <div class="testimonial-two__client-content">
                            <h4 class="testimonial-two__client-name">Kavin</h4>
                            <p class="testimonial-two__client-sub-title">Clients</p>
                        </div>
                    </div>
                    <p class="testimonial-two__text-2">"We are extremely happy with the BIS Certification Services provided by ERCS. They helped us navigate the complex BIS Certification (FMCS) process with ease, and their expertise and attention to detail were instrumental in getting our product certified."</p>
                    <div class="testimonial-two__quote">
                        <span class="icon-quotes"></span>
                    </div>
                    <div class="testimonial-two__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <!--Testimonial Two Single End-->
            
            <!--Testimonial Two Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-two__single">
                    <div class="testimonial-two__client-info">
                        <div class="testimonial-two__client-img">
                            <img src="../../../assets/images/testimonial/testimonials-page-1-4.jpg" alt="">
                        </div>
                        <div class="testimonial-two__client-content">
                            <h4 class="testimonial-two__client-name">Jitendra Luhar</h4>
                            <p class="testimonial-two__client-sub-title">Clients</p>
                        </div>
                    </div>
                    <p class="testimonial-two__text-2">"I highly recommend ERCS for anyone seeking WPC Approval Services. They are professional, efficient, and provided us with excellent guidance and support throughout the process."</p>
                    <div class="testimonial-two__quote">
                        <span class="icon-quotes"></span>
                    </div>
                    <div class="testimonial-two__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-two__single">
                    <div class="testimonial-two__client-info">
                        <div class="testimonial-two__client-img">
                            <img src="../../../assets/images/testimonial/testimonials-page-1-5.jpg" alt="">
                        </div>
                        <div class="testimonial-two__client-content">
                            <h4 class="testimonial-two__client-name">David Cooper</h4>
                            <p class="testimonial-two__client-sub-title">CO Founder</p>
                        </div>
                    </div>
                    <p class="testimonial-two__text-2">Exercitation ullamco laboris nisi ut aliquip
                        ex ea ex commodo consequat duis aute aboris nisi ut aliquip irure
                        reprehederit in voluptate velit esse .</p>
                    <div class="testimonial-two__quote">
                        <span class="icon-quotes"></span>
                    </div>
                    <div class="testimonial-two__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-two__single">
                    <div class="testimonial-two__client-info">
                        <div class="testimonial-two__client-img">
                            <img src="../../../assets/images/testimonial/testimonials-page-1-6.jpg" alt="">
                        </div>
                        <div class="testimonial-two__client-content">
                            <h4 class="testimonial-two__client-name">Jequline Eve</h4>
                            <p class="testimonial-two__client-sub-title">CO Founder</p>
                        </div>
                    </div>
                    <p class="testimonial-two__text-2">Exercitation ullamco laboris nisi ut aliquip
                        ex ea ex commodo consequat duis aute aboris nisi ut aliquip irure
                        reprehederit in voluptate velit esse .</p>
                    <div class="testimonial-two__quote">
                        <span class="icon-quotes"></span>
                    </div>
                    <div class="testimonial-two__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <!--Testimonial Two Single End-->
        </div>
    </div>
</section>
<!--Testimonials Page End-->